body {
  margin: 0;
  overflow: hidden;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('bild.jpg') no-repeat center center fixed;
  background-size: cover;
  cursor: default;
}

#container {
  width: 100vw;
  height: 100vh;
}
