     * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: #121212;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding: 20px;
        }

        a {
            color: #24663c;
            text-decoration: none;
            transition: color 0.3s;
        }

        a:hover {
            color: #35bf65;
        }

        header {
            text-align: center;
            margin-bottom: 40px;
        }

        header h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            color: #ffffff;
        }

        header p {
            color: #aaaaaa;
            font-size: 1rem;
        }

        .projects-grid {
    display: grid;
    gap: 20px;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(1, 1fr); /* мобильный */
}

@media (min-width: 500px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1100px) {
    .projects-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

        .project-card {
            background-color: #1e1e1e;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.5);
            transition: transform 0.3s, box-shadow 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.05); /* мягкая размытие вокруг */
        }

        .project-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0,0,0,0.7);
        }

        .project-card h3 {
            margin-bottom: 10px;
            color: #ffffff;
        }

        .project-card p {
            color: #bbbbbb;
            font-size: 0.9rem;
            line-height: 1.4;
        }

        .volume {
            text-align: center;
            margin-bottom: 15px;
        }

        .supertext {
            font-size: 60px;
        }

        /* Разные размеры карточек */
        .project-card.large {
            grid-row: span 2; /* двойная высота */
        }

        .project-card.tall {
            grid-row: span 3; /* тройная высота */
        }

        .project-card.wide {
            grid-column: span 2; /* двойная ширина */
        }

        footer {
            margin-top: auto;
            text-align: center;
            color: #777777;
            font-size: 0.8rem;
            padding: 20px 0 0 0;
        }